AWS_ACCESS_KEY_ID=e3118e6774bdbe526fda5fcbdf062392
AWS_SECRET_ACCESS_KEY=72c145a1710abc2817722dd3ec7ab5c6c462747c94ff9131d36fd113ea183495
AWS_DEFAULT_REGION=ap-south-1
AWS_BUCKET=profile-picture
AWS_URL=https://rktqwfyssvcuvueoxziu.supabase.co/storage/v1/object/public/profile-picture
AWS_ENDPOINT=https://rktqwfyssvcuvueoxziu.supabase.co/storage/v1/s3
AWS_USE_PATH_STYLE_ENDPOINT=true

VITE_APP_NAME="${APP_NAME}"

# Supabase Configuration
SUPABASE_URL="https://rktqwfyssvcuvueoxziu.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJrdHF3Znlzc3ZjdXZ1ZW94eml1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzMjY5OTYsImV4cCI6MjA4NTkwMjk5Nn0.sXa_lqGvLvRqDwBLyWcED2ar7fJiNPCzPdXs-wiH3d8"
SUPABASE_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJrdHF3Znlzc3ZjdXZ1ZW94eml1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDMyNjk5NiwiZXhwIjoyMDg1OTAyOTk2fQ.Drq0yWb1lkQM6kS7TfiPZpPlhGezobHNexKWXfS2l8I"
SUPABASE_JWT_SECRET="MR0i7VWu7EuzLfP4rrLB8Fsxx21vbmlGhNfnl3+yGpw6tG9dcs7TwtkscskaFXYGqc3iae7wt5avXBwI9Y0yRw=="